<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='cards.css') }}">
    
    <title>IS 531 Project3</title>
</head>
<body>
    <br>
    <span class=" page-title">National Parks</span>
    <br>

    <div class="text-center select-box">
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="select" onchange="filterObjects(this.options[this.selectedIndex].value)">
            <option value="all">All</option>  
            {% for park in unique_parks %}      
                <option value={{park}}>{{park}}</option>        
            {% endfor %}

        </select>

        


    </div> 

    <br>
    <br>

    <div class="container">
        <div class="row align-items-start">
            {% for park in parks %}      
            <div class="images {{park['location']['S']}} col-4">
                <div class="crd crd--effect-2">

                    <image class="crd-img" src={{park['url']['S']}}></image>
                    
                  
                    <div class="crd-info">
                      <!-- Nubes means 'clouds' (German) -->
                      <h2 class="crd-heading">{{park['park']['S']}}</h2>
                      <p class="crd-text">{{park['location']['S']}}</p>
                    </div>
                  
                  </div>
            </div>
            {% endfor %}
            
            





        </div>
    </div>

    <script src="{{url_for('static', filename='main.js')}}"></script>    
</body>
</html>
