*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  background: hsl(220, 25%, 10%);

  padding: 4rem;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* MAIN */
/* ====================================================== */
.page-title{
  position: absolute;
  top: 1rem;
  left: 10rem;
  z-index: 999;
  width: 100%;
  height: 23px;
  color: rgb(230, 230, 230);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 40px;
}

.container {
  margin-top: 50px;
  
}

.select-box {
  position: absolute;
  top: 10rem;
  left: 10rem;
  font-size: 20px;
}

.crd {
  margin: 1rem;

  position: relative;
  width: 34rem;
  height: 41rem;
  overflow: hidden;
}

.crd-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 400px
}

.crd-info {
  color: hsl(0, 0%, 90%);
  position: absolute;
  bottom: 40px;
  left: 30px;
}

.crd-heading {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 1;
  font-weight: 900;
}

.crd-text {
  font-size: 1.6rem;
  opacity: .6;
  padding-left: 1rem;
}

/* EFFECTS */
/* ====================================================== */

/* effect-1 */
.crd--effect-1 .crd-img {
  transform: scale(.9);
  transition: .4s;
}

.crd--effect-1:hover .crd-img {
  transform: scale(1);
}


/* effect-2 */
.crd--effect-2 .crd-info {
  top: 50%;
  left: 50%;
  bottom: unset;
  text-align: center;
  transform: translate(-50%, -50%);
}

.crd--effect-2 .crd-heading {
  transform: scale(2);
  opacity: 0;
  transition: .5s;
}

.crd--effect-2 .crd-text {
  padding-left: 0;
  transform: scale(1.2);
  opacity: 0;
  transition: .4s;
}

.crd--effect-2:hover .crd-heading {
  opacity: 1;
  transform: scale(1);
}

.crd--effect-2:hover .crd-text {
  opacity: .6;
  transform: scale(1);
}


/* effect-3 */
.crd--effect-3 .crd-heading {
  position: relative;
  color: hsla(0, 0%, 90%, .5);
}

.crd--effect-3 .crd-heading span {
  color: hsl(0, 0%, 90%);
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.4);
  transition: .5s;
}

.crd--effect-3:hover .crd-heading span {
  opacity: 1;
  transform: scale(1);
}

.crd--effect-3 .crd-info {
  text-align: right;
  right: 30px;
  left: unset;
}

.crd--effect-3 .crd-text {
  padding-left: 0;
  padding-right: 1rem;
}

.crd--effect-3 .crd-img {
  transition: .5s;
}

.crd--effect-3:hover .crd-img {
  transform: scale(.9);
}


/* effect-4 */
.crd--effect-4 {
  display: block;
  width: 100%;
  max-width: 80rem;
}

.crd--effect-4 .crd-img {
  transition: .8s;
}

.crd--effect-4:hover .crd-img {
  filter: saturate(0);
}

.crd--effect-4 .crd-heading {
  transition: .9s;
}

.crd--effect-4:hover .crd-heading {
  color: hsl(194, 93%, 52%);
}


/* ABS */
/* ====================================================== */
.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .3);
  font-size: 16px;
}
